.header {
  grid-area: h;
  background-color: lightblue;
}

.header img {
  width: 60px;
  height: 60px;
}

.loginBlock {
  float: right;
}

.logoutBlock {
  display: flex;
  flex-direction: column;
}

.logoutBtn {
  border: none;
  background-color: transparent;
  text-align: right;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.logoutBtn:hover {
  color: rebeccapurple;
}
