.loginPage {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
    width: 200px;
    height: 200px;
    gap: 10px;
}

.submitBtn {
    width: 100px;
    align-self: center;
}

.error {
    margin-top: -10px;
    color: red;
    font-style: italic;
    font-weight: bold;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}