.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
        'h h'
        'n c';
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: h;
    background-color: lightblue;
}

.header img {
    width: 60px;
    height: 60px;
}

.nav {
    grid-area: n;
    background-color: lightgreen;
}

.content {
    grid-area: c;
    background-color: yellow;
}

.content img{
    width: 100%;
}